* {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 160%;
    background-color: rgb(36, 35, 35);
}

h1, h2, b, thead {
    color: rgb(240, 193, 5);
}

p, td {
    color: rgb(219, 219, 212);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 26, 28);
    color: rgb(240, 193, 5);
    padding: 30px;
}

.logo {
    text-align: left;
    background-color: rgb(36, 35, 35);
    padding: 20px;
    margin-left: 10px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-grow: 1;
    margin: 20px;
}

.sidenav {
    background-color: rgb(26, 26, 28);
    padding: 30px;
    margin-right: 20px;
}

nav {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.nav-link {
    display: block;
    text-decoration: none;
    font-size: 22px;
    color: rgb(240, 193, 5);
    background-color: rgb(36, 35, 35);
    font-weight: 700;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

a:hover {
    color: rgb(219, 219, 212);
}

.main {
    width: 100%;
    background-color: rgb(26, 26, 28);
    padding: 0 40px 20px 40px;
}

input {
    width: 70px;
    background-color: rgb(36, 35, 35);
    color: rgb(219, 219, 212);
    border: none;
    font-size: 18px;
}

.btn {
    display: block;
    background-color: rgb(240, 193, 5);
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.btn:hover {
    color: white;
    cursor: pointer;
}

.tablecontainer {
    width: 100%;
}

table {
    width: 100%;
}

thead {
    text-align: left;
}

footer {
    background-color: rgb(26, 26, 28);
    text-align: center;
    padding: 30px;
    font-weight: 700;
    margin-top: auto;
}

footer p {
    color: rgb(219, 219, 212);
}

.email {
    text-decoration: none;
    color: rgb(240, 193, 5);
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    h1 {
        text-align: center;
    }

    .sidenav {
        margin-right: 0;
    }

    nav {
        width: auto;
    }

    table {
        margin: 0 auto;
    }

    .logo {
        margin-left: 0;
    }
}

@media (max-width: 560px) {
    header {
        flex-direction: column;
    }

    .date {
        margin: 10px auto 0 auto;
        padding: 0;
    }
}
