@code {
    public string Date = DateTime.Now.ToString("yyyy-MM-dd");
}

<div class="component">
    <p>Dagens datum är <b class="date">@Date</b></p>
    <b class="component-text">Detta är en komponent som läses in från koden.</b>
</div>
