@inherits LayoutComponentBase

<header>
    <div class="logo">
        <h1>Moment 1.2</h1>
    </div>
</header>

<div class="container">
    <div class="sidenav">
        <NavMenu />
    </div>

    <div class="main">
        @Body
    </div>
</div>

<footer>
    <p>Av Joacim Bäcklund - Kontakta mig via e-post: <a class="email" href="mailto:joba1905@student.miun.se">joba1905@student.miun.se</a></p>
</footer>
