<nav>
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        Startsidan
    </NavLink>

    <NavLink class="nav-link" href="convert">
        Konvertering
    </NavLink>

    <NavLink class="nav-link" href="json">
        JSON
    </NavLink>
</nav>
